*.sdf
*.vspscc
*.suo
Debug
Release
AppPackages
*.vssscc
*.user
*.ipch
*.opensdf
BundleArtifacts
.DS_Store
*.userprefs
*.a

InnovatorClientExample/.vs/InnovatorClientExample/v15/Server/sqlite3/

InnovatorClientExample/InnovatorClientExampleConfig.xml
